* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(37, 37, 37);
  font-family: 'Oswald', sans-serif;
  margin: 0;
}

.header {
  margin-top: 40px; 
  text-align: center;
  margin-bottom: 30px;
}

.header__title {
  color:#fff;
  text-transform: lowercase;
  font-style: italic;
  font-size: 40px;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: bold;
}

.header__title-span {
  color:rgb(245, 200, 1);
  text-transform: uppercase;
}

.header__img {
  width: 30%;
  display: none;
  margin: 0 auto;

}

.btn {
  text-align: center;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  display: inline-block;
  color: #fff;
  border: none;
  outline: none;
  border-radius:100%;
  transition: border 0.3s;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  cursor: pointer;
}


.btn-hit {
  background-color: green;
  visibility: hidden;
  transform: translateY(0);
  z-index: -3;
  transition: all 0.3s;
}
.btn-hold {
  background-color: rgb(161, 9, 4);
  visibility: hidden;
  transform: translateY(0px);
  z-index: -3;
  transition: all 0.3s;
}
.btn-show-btn {
  visibility: visible;
  transform: translateY(-5px);
  z-index: 1;
}

.btn-hit:hover {
  background-color: rgba(0, 128, 0, 0.596);

}
.btn-hold:hover {
  background-color: rgba(161, 9, 4, 0.63);
}

.start-btn {
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  width: 70px;
  height: 30px;
  display: block;
  color: rgb(255, 255, 255);
  border: none;
  outline: none; 
  cursor: pointer; 
  font-family: 'Oswald', sans-serif;
  background-color: rgba(245, 200, 1, 1);
  font-size: 15px;
  transition: background-color 0.3s; 
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  z-index: 100; 
  transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1); 
  text-transform: uppercase;
  transform: translateY(-10px)
}

.start-btn-hide {
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  z-index: -1;    
}

.start-btn:hover {
background-color: rgb(0, 0, 0);
}


#card-container-main {
  width: 100%;
  margin: 0 auto;
  /* border: 1px solid orange; */
  text-align: center;
  padding: 20px 0;
}

.card {
  position: relative;
  display: inline-block;
  width: 70px;
  height:90px;
  border: 1px solid black;
  font-size: 25px;
  margin: 3px;
  background-color: #fff;
  border-radius: 5px;
}


.card-rank {
  position: absolute;
  top:0;
  left:4px;
}
.card-suit {
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -21px;
  font-size: 30px;
}
.card-suit--black {
color: rgb(22, 22, 22);
}

.card-suit--red {
color: red;  
}

.game-area {
  color:#fff;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  opacity: 0;
  margin: 0 auto;
  /* border: 1px solid #fff; */
  background-color: rgba(29, 68, 29, 0.603);
  z-index: -3;
  visibility: hidden;
  transform: translateY(0px);
  transition: all 0.5s
}

.game-area-show {
  visibility: visible;
  transform: translateY(-40px);
  opacity: 1;
  scale: 1;
  z-index: 1;
}

.game-area__player {
  padding: 35px;
  text-align: center;
}

.player1-results-score,
.player2-results-score {
  font-size: 25px;
}

.playing-yellow {
  color: rgb(245, 200, 1);
  /* font-style: italic; */
}

.playing-yellow::after {
  font-style: italic;
  content: ' - playing';
  font-size:15px;
  color:rgb(1, 167, 1) ;

}

.final-results {
  width: 200px;
  height: 100vh;
position: absolute;
top: 0px;
  left: -200px;
background-color: rgb(255, 255, 255);
visibility: hidden;
z-index: -1;
opacity: 0;
transform: scale(0);
transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.final-results-show {
  top: 0px;
  left: 0px;
visibility: visible;
opacity: 0.5;
transform: scale(1);
z-index: 1;
}

.final-score {
  color:#fff;
  font-size: 25px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s;
  font-style: italic;
  color:rgb(240, 239, 236);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
  text-shadow: 3px 3px rgba(230, 8, 8, 0.425);

}

.final-score-show {
  visibility: visible;
  opacity: 1;
}

.score-results {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-color:  rgba(29, 68, 29, 0.603);
  font-size: 10px;
  color:rgb(255, 208, 0);
  margin-top: 0px;
  opacity: 0;
  transition: all 0.5s;
  padding-top: 0;
}

.score-results-text {
  text-align: center; 
  margin-top: 4px;  
}

.score-results-playing {
  color: rgb(245, 200, 1);
}

/* .score-results-show {
  opacity: 1;
  z-index: 100;
} */
/* .score-results-text {
  text-align: center;
}

.score-results-playing {
  text-align: center;
} */

