* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(37, 37, 37);
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

/* INTRO PAGE */
.header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem; 
    background: linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.6)), url('img/ace-card-casino-262333.jpg') center no-repeat;
    background-size: cover;
} 

.header::after {
    content: '';
    width: inherit;
    height:inherit;
    position: absolute;
    top: 0;
    left:0;
    background: linear-gradient(rgb(56, 56, 56), rgb(107, 107, 107));
    animation: opacityFadeDown 1s ease forwards;
    visibility: visible;
}

.header-title-span-container {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    z-index: 0;
    filter: blur(0);
    transition: all .5s ease-in-out;
}

.header-title-span-container-hide {
    filter: blur(20px);
    opacity: 0;
    transform: scale(0);
    z-index: -1;
    visibility: hidden;  
}

.header__title {
    opacity: 0;
    color:#fff;
    text-transform: lowercase;
    font-style: italic;
    font-size: 70px;
    font-weight: bold;
    animation: opacityFadeAndMoveDown 1s ease .5s forwards;
    transform: translateY(0px);
}

.header__title-span {
    color:rgb(245, 200, 1);
    text-transform: uppercase;
}

.header__title-top-center {
    color:#fff;
    text-transform: lowercase;
    font-style: italic;
    font-size: 70px;
    font-weight: bold;
    opacity: 0;
    text-align: center;
    position: absolute;
    top:0;
    left:calc(50% - 110px); 
}

.header__title-top-center-show {
    animation: opacityFade 1s ease .5s forwards;
}

.start-btn {
    text-align: center;
    padding: .5rem 3rem;
    color: rgb(255, 255, 255);
    border: none;
    outline: none; 
    cursor: pointer; 
    font-family: 'Oswald', sans-serif;
    background-color: rgba(245, 200, 1, 1);
    font-size: 20px;
    visibility: visible;
    opacity: 0;
    transform: scale(1);
    z-index: 100; 
    transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1); 
    text-transform: uppercase;
    border: 1px solid transparent;
    animation: opacityFadeAndMoveUp 1s ease .5s forwards;
}

.start-btn:hover {
    background-color: rgb(0, 0, 0);
    border: 1px solid #fff;
}

@keyframes opacityFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes opacityFadeDown {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes wipe {
    0% {

        transform: translate(-300px, -300px);
    }
    100% {

        transform: translate(50px, 50px);
    }
}

@keyframes opacityFadeAndMoveUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes opacityFadeAndMoveDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* END INTRO PAGE */


/* SIDE BAR */

.win-container {
    position: absolute;
    bottom:0;
    background: rgb(24, 24, 23);
    width: 100%;
    padding: 1rem;
}

.win-container p {
    font-size: 1.5rem;
}
.sidebar {
    position: absolute;
    width: 11rem;
    height: 100vh;
    left:-110px;
    top:0;
    z-index: 1;
    background: rgba(29, 68, 29, 0.966);
    transition: left .5s ease-in-out;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 3px solid #fff;
}

.sidebar-show {
    left: 0px;
}

.btn {
    text-align: center;
    margin: 10px auto;
    width: 60px;
    height: 60px;
    display: inline-block;
    color: #fff;
    border: none;
    outline: none;
    border-radius:100%;
    transition: border 0.3s;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.btn-hit {
    background-color: green;
    visibility: hidden;
    transform: translateY(0);
    z-index: -3;
    transition: all 0.3s;
}

.btn-hold {
    background-color: rgb(161, 9, 4);
    visibility: hidden;
    transform: translateY(0px);
    z-index: -3;
    transition: all 0.3s;
}
.btn-show-btn {
    visibility: visible;
    transform: translateY(-5px);
    z-index: 1;
}

.btn-hit:hover {
    background-color: rgba(0, 128, 0, 0.596);

  }
.btn-hold:hover {
    background-color: rgba(161, 9, 4, 0.63);
  }

.start-btn-hide {
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    z-index: -1;    
}

.start-btn:hover {
  background-color: rgb(0, 0, 0);
}
/* END SIDE BAR */


/* MAIN GAME AREA */
.game-area-board {
    margin-top: 0px;
    margin-bottom: 40px;
    position: absolute;
    width: 75%;
    max-width: 1000px;
    height: 480px;
    top:50%;
    left:50%;
    border:1px solid #fff;
    color:#fff;
    transform: translate(-45%, -50%);
    display: flex;
    background: rgba(0, 0, 0, 0.678);
    justify-content: space-around;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    z-index: -1; 
    transition: all 1s ease .5s; 
}
.game-area-board-show {
    opacity: 1;
    visibility: visible;
    z-index: 0;    
}

.player {
    border: 1px solid rgb(202, 202, 202);
    flex: 1;
    text-align: center;
}

.game-area-board-title {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid#ddd;
    line-height: 2;
    background: rgba(29, 68, 29, 0.966);
    color:white;
}


.player-1-area h1 {
    color: #fff;
}
.player-2-area h1 {
    color: #fff;  
}

.player-output {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    opacity: 1;
    position: relative;
    width: 120px;
    height:160px;
    border: 1px solid black;
    font-size: 25px;
    margin: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
    animation: opacityFadeUp1 .3s ease;
}

@keyframes opacityFadeUp1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
}

.card-rank {
    position: absolute;
    top:0;
    left:3px;
    font-size: 35px;
}
.card-suit {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}

.card-suit--black {
  color: rgb(22, 22, 22);
}

.card-suit--red {
  color: red;  
}

.player-2-area {
    /* background: rgb(245, 200, 1); */
}

.player1-results-score,
.player2-results-score {
    font-size: 25px;

}

.player1-results-score {
    position: absolute;
    bottom: 0;
    left:0;
    background: rgb(3, 99, 3);
    width: 50%;
    height: 5rem;
    line-height: 1.9;
    font-weight: bold;
    text-transform: uppercase;
    z-index: -1; 
    border-top: 2px solid #fff;
}
.player2-results-score {
    position: absolute;
    bottom: 0;
    left:50%;
    background: rgb(3, 99, 3);
    width: 50%;
    height: 5rem;
    line-height: 1.9;
    font-weight: bold;
    text-transform: uppercase;  
    z-index: -1; 
    border-top: 2px solid #fff;
}

.playing-yellow {
    color: rgb(245, 200, 1);
}

.playing-yellow::after {
    font-style: italic;
    content: ' - playing';
    font-size:15px;
    color:rgb(1, 167, 1);
}

.final-score {
    width: 100%;
    color:#fff;
    font-size: 30px;
    opacity: 0;
    visibility: hidden;
    font-style: italic;
    color:rgb(240, 239, 236);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
    letter-spacing: 3px;
    filter: blur(20px);
    text-align: center;
    transition: opacity .5s ease;
}

.final-score-show {
    visibility: visible;
    opacity: 1;
    top: -40px;
    filter: blur(0px);
}
/* END MAIN GAME AREA */


/* MODAL */
.play-again-modal {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.945);
    display: flex;
    z-index: -3;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: all .7s ease-in-out .1s;
}

.play-again-modal-show {
    transform: scale(1);
    z-index:4;
    visibility: visible;
    opacity: 1;  
}

.play-again-btn {
    text-align: center;
    padding: .5rem 3rem;
    color: rgb(255, 255, 255);
    border: none;
    outline: none; 
    cursor: pointer; 
    font-family: 'Oswald', sans-serif;
    background-color: rgba(245, 200, 1, 1);
    font-size: 20px;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    z-index: 100; 
    transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1); 
    text-transform: uppercase;
    border: 1px solid transparent;
    margin-bottom: 20px;
}

.play-again-btn:hover {
    background-color: rgb(0, 0, 0);
    border: 1px solid #fff;
}

.score-results {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-color:  rgba(29, 68, 29, 0.603);
    font-size: 10px;
    color:rgb(255, 208, 0);
    margin-top: 0px;
    opacity: 0;
    transition: all 0.5s;
    padding-top: 0;
}

.score-results-text {
    text-align: center; 
    margin-top: 4px;  
}

.score-results-playing {
    color: rgb(245, 200, 1);
}




